.textdiv{
    background-color: rgba(25, 0, 255, 0.349);
    margin: 300px;
    padding: 80px;
    padding-bottom: 5px;
    padding-top: 120px;
    color: rgb(24, 15, 1);
    border: 15px solid rgb(165, 138, 16);
    border-top-right-radius: 90%;
    border-top-left-radius: 90%;
    font-size: smaller;
    text-align: center;
    min-height: 300px;
    }
 .textdiv2{
        background-color: rgba(25, 0, 255, 0.349);
        margin: 300px;
        padding: 80px;
        padding-bottom: 5px;
        padding-top: 120px;
        color: rgb(24, 15, 1);
        border: 15px solid rgb(165, 138, 16);
        border-top-right-radius: 90%;
        border-top-left-radius: 90%;
        font-size: 16pt;
        text-align: center;
        min-height: 300px;
        }

.footer{
    width: 100%;
    height: 30px;
    background-color: rgb(179, 137, 2);
    align-items: center;
}
